
body{ margin:0; overflow:hidden; }

:root{
  --nav: 180px;  /* samme som aside width */
  --gap: 20px;
  --post: 500px; /* eller den bredde du vil have på post-kolonnen */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.overst {
  background-color: #f4f4f4;
}

#userBar {
  background: #f4f4f4;
  padding: 10px 12px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.pip {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 0;
}
#pipForm {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  flex-direction: column;
}

#pipInput {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
aside {
  width: 150px;
  height: 100vh; /* fylder hele højden */
  background-color: black; /* mørk baggrund */
  position: fixed; /* fast i venstre side */
  left: 0;
  top: 0;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.logo img {
  margin-right: 20px;
  margin-left: 5px;
}

.logo_navn {
  font-weight: 300;
  color: white;
}

nav {
  display: flex;
  flex-direction: column; /* gør det vertical */
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
}

nav a:hover {
  background: white; /* hover effekt */
  color: black;
}


.post{
  position: fixed;
  top: 0;
  left: calc(var(--nav) + var(--gap));
  width: var(--post);
  height: 100vh;
  padding: 12px;
  margin-top: 15px;
  box-sizing: border-box;
  background:#fff;
  border-right: 1px solid #eee;
  z-index: 2;
  flex-direction: column;
  display: flex;
}
.feed{
  position: fixed;
  top: 0;
  left: calc(var(--nav) + var(--gap) + var(--post) + var(--gap));
  right: 0;
  height: 100vh;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
  background:#fff;
}

.post form{ display:flex; gap:8px; }
.post input{ flex:1; padding:10px; border:1px solid #ddd; border-radius:8px; }
.post button{ padding:10px 10px; border:0; border-radius:8px; cursor:pointer;}

.papirflyver{
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

#feed {
  max-width: 520px;              /* valgfrit: gør linjelængden rar */
}

/* Hvert pip-blok */
.pip-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 10px 0;               /* luft omkring indholdet */
  border-bottom: 1px solid #e6e6e6;

}

/* Fjern streg efter sidste */
.pip-container:last-child {
  border-bottom: none;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

pip-content{
  flex: 1;
}
/* Typografi */
.username {
  font-weight: 700;
  margin: 0 0 4px 0;
}

.message {
  margin: 0;
  line-height: 1.5;
  color: #444;
}

